# AuthType Basic
# AuthName "Password Protected Area"
# AuthUserFile /var/www/html/galleries/.htpasswd
# Require valid-user

RewriteEngine On # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^captions/?$ captions.php [NC,L]
RewriteRule ^captions/(.*)/?$ captions.php?caption_id=$1 [NC,L]
